.user-registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e9e9e9;
}

.registration-card {
  padding: 20px;
  text-align: center;
  box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
  margin: 20px;
}

.registration-card h2 {
  margin-bottom: 20px;
  color: #333;
  font-family: "Open Sans", sans-serif;
}

.invitation {
  font-size: 18px;
  margin-bottom: 10px;
  color: #555;
}
.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-group-reg input {
  width: 85%;
  padding: 15px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 1px;
}

.error-message {
  color: #e74c3c;
  margin-top: -15px;
  margin-bottom: 20px;
}

.submit-button {
  width: 85%;
  padding: 15px 20px;
  border: none;
  background-color: #85c8a3;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #379683;
}

.login-link {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  color: #6c757d;
  cursor: pointer;
}
