.product-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.product-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.product-image-container {
  width: 50%;
}

.product-page-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.product-info-a {
  width: 50%;
  padding: 20px;
}

.product-name {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.product-description {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #666;
}

.product-pricing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.product-price {
  font-size: 1.5rem;
  color: #333;
}

.product-discount-price {
  font-size: 1.2rem;
  color: #b63d3d;
  font-weight: bold;
}

.product-stock {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.add-to-cart-btn {
  font-size: 1.2rem;
  padding: 10px 20px;
  background-color: #008cba;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}

.add-to-cart-btn:hover {
  background-color: #005f73;
}

@media (max-width: 768px) {
  .product-container {
    flex-direction: column;
  }

  .product-page-image {
    width: 50%;
    height: auto;
    border-radius: 4px;
  }

  .product-name {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .product-image-container,
  .product-info-a {
    width: 100%;
  }

  .product-pricing {
    flex-direction: column;
    align-items: flex-start;
  }
}
