.product-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 200px;
  height: 370px;
  padding: 10px;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  display: flex; /* Use flexbox */
  flex-direction: column;
  justify-content: space-between;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.product-image {
  height: 10rem; /* Maintain aspect ratio */
  width: 10rem; /* Limit maximum width */
  object-fit: cover; /* Ensure the image covers the area without distortion */
}

.product-info {
  padding: 10px;
  text-align: center;
}

.product-price {
  margin: 10px 0;
  font-weight: bold;
}

.product-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.product-button:hover {
  background-color: #0056b3;
}
