.product-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 200px;
  height: 280px;
  padding: 10px;
  box-sizing: border-box; 
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
}
.products-name {
  margin: 5px;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.product-image {
  height: 10rem; 
  width: 10rem; 
  object-fit: cover; 
}

.product-info {
  padding: 10px;
  text-align: center;
}

.product-card-price {
  margin: 5px 0;
  font-weight: bold;
}

@media (max-width: 600px) {
  .product-card {
    width: 160px;
  height: 250px;
  padding: 10px;
   
  }

  .product-image {
    height: 8rem;
    width: 8rem;
  }

  .product-info {
    padding: 5px;
  }
}