

.hero {
  max-width: 1024px;
  margin: auto;
  overflow: hidden; 
  height: 600px; 
  background-image: url("../../assets/images/mainPagePhoto.png"); 
  background-size: contain; /* Or 'cover' to fill the height; 'contain' will ensure the whole image is visible */
  background-position: center; 
  background-repeat: no-repeat; /* Prevents the image from repeating */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Content styles */
.content {
  background: white; 
  display: flex;
    flex-direction: column;

  justify-content: center;
  align-items: center;
}
