.cart-container {
  padding: 20px;
}

.cart-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.cart-item p {
  margin: 5px 0;
}

.cart-item button {
  margin-right: 5px;
}

.cart-table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}

.cart-table th,
.cart-table td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.cart-table img {
  width: 50px;
  height: 50px;
}

.cart-summary {
  margin-top: 20px;
}

.cart-summary h4 {
  text-align: center;
  margin-top: 100px;
  
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .cart-table,
  .cart-summary {
    font-size: 14px;
  }

  .cart-table th,
  .cart-table td {
    padding: 4px;
  }

  .cart-table img {
    width: 40px;
    height: 40px;
  }
}
