.add-product-btn {
  background-color: #4caf50; /* Green background */
  color: white; /* White text */
  padding: 12px 24px; /* Padding for a larger click area and balanced spacing */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Slightly larger font size for readability */
  transition: all 0.3s; /* Smooth transition for hover effects */
  box-shadow: 0 2px #2c7a2b; /* Simulate a 3D effect */
}

.add-product-btn:hover,
.add-product-btn:focus {
  background-color: #45a049; /* Slightly lighter green on hover/focus */
  box-shadow: 0 4px #2c7a2b; /* Increase shadow to enhance 3D effect */
  transform: translateY(
    -2px
  ); /* Move the button up slightly to simulate a button press */
}

.add-product-btn:active {
  background-color: #3e8e41; /* Even lighter green for active state */
  box-shadow: 0 1px #2c7a2b; /* Reduce shadow to simulate the button being pressed */
  transform: translateY(1px); /* Button moves down slightly when pressed */
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}
.shop-management {
  max-width: 1200px;
  margin: auto;
}
.shop-management {
  direction: rtl;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.shop-management table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.shop-management th,
.shop-management td {
  border: 1px solid #eaeaea;
  padding: 5px;
  text-align: right;
}

.th {
  background-color: #fafafa;
  color: #333;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-table img {
  width: 100%;
  height: auto;
  max-width: 60px;
  max-height: 60px;
  border-radius: 6px;
}

.shop-management tr:nth-child(even) {
  background-color: #f9f9f9;
}

.shop-management tr:hover {
  background-color: #f1f1f1;
}

/* Style for the edit button */
.edit-btn {
  background-color: #668666;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-btn {
  background-color: #815d5d;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.edit-btn:hover {
  background-color: #78c57c;
}
.delete-btn:hover {
  background-color: #cc6a6a;
}

/* Media query for screen sizes smaller than 480px */
@media (max-width: 480px) {
  .shop-management .th.discount-price,
  .shop-management td.discount-price,
  .shop-management .th.stock-quantity,
  .shop-management td.stock-quantity {
    display: none; /* Hide discount price and quantity info */
  }
}
