.herob {
  max-width: auto;
  margin: auto;
  overflow: hidden;
  height: 400px;
  background-image: url("../../assets/images/rita.png"); 
  background-size: cover; /* Or 'cover' to fill the height; 'contain' will ensure the whole image is visible */
  background-position: center; 
  background-repeat: no-repeat; 
  display: flex;
  justify-content: center;
  align-items: center;
}
